body{
    background-color: #231f20;
    padding: 0;
    margin: 0;
}

.naslov{
    font-size: 40px;
    font-weight: 900;
    margin:70px 0 100px 0;
    position: relative;
    text-align: center;
    color: #cc8502;
    margin-top: 150px;
}


.naslov::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 50%);
  height: 3px;
  width: 100%;
  background: #cc8502;
}

.item{
    transition: .5 ease-in-out;
}

.item:hover{
    filter: brightness(80%);
}